{% extends 'base.html' %}
{% load static %}
{% block content %}


   <div class="container">
        <div class="table-bordered tabel-margintop-form">
            <p>{{ message }}</p>
             <div class="row text-right">
                    <div class="col-9">
                        <h4 class="text-center mt-3">ویرایش دسته بندی</h4>
                        <div class="table table-marginright w-75 rounded bg-light text-secondary">
                           <form action="{% url 'edit_category' object.id%}" method="post" enctype="multipart/form-data">

                               {% csrf_token %}
                               <div class="form-group">
                                   <label class="mb-3" >نام دسته</label>
                                   <input type="text" class="form-control" name="category_name" value="{{ object.name }}" required>
                               </div>
                               <div class="form-group">
                                    <label class="mb-3">نامک</label>
                                    <input type="text" class="form-control" value="{{ object.slug }}" name="category_slug">
                               </div>
                               <div class="form-group" >
                                    <p>
                                        نامک نسخه لاتین واژه است که در نشانی‌ها (URLs)‌ استفاده می‌شود. برای نامگذاری فقط از حروف،‌ ارقام و خط تیره استفاده کنید. نمایش فقط با حروف کوچک خواهد بود.
                                    </p>
                               </div>
                                 <input type="submit" class="btn btn-success ml-3" value="ویرایش">
                           </form>
                        </div>
                    </div>
              </div>
        </div>
   </div>

{% endblock %}
