{% extends 'base_account.html' %}
{% block content %}

 <!-- main container-->
<div class="container">
   <div class="row ">
      <div class="table-responsive">
           <table class="table table-bordered text-center ">
               <thead class="thead-light">
                   <tr>
                       <th scope="col">#</th>
                       <th scope="col">نام دسته بندی</th>
                       <th scope="col">نامک</th>
                       <th scope="col">عملیات</th>
                   </tr>
               </thead>
               <tbody>
                   {% for category in category %}
                   <tr scope="row">
                       <td>{{ category.id }}</td>
                       <td>{{ category.name }}</td>
                       <td>{{ category.slug }}</td>
                       <td>
                           <a href="{% url 'edit_category' category.id %}" type="button" class="btn btn-success "><i class="fa fa-pencil" aria-hidden="true">ویرایش</i></a>
                           <a  href="{% url 'delete_category' category.id %}" class="btn btn-danger ui-icon-trash" id="delete-object"  onclick="return confirm('آیا شما از حذف محصول اطمینان دارید؟')" >حذف</a>
                       </td>
                   </tr>
               {% endfor %}
               </tbody>
               <tfoot></tfoot>
          </table>
       </div>
   </div>
</div>

{% endblock %}