{% extends 'base_account.html' %}
{% load bootstrap4 %}
{% block content %}


<div class="o-grid">
    <div class="row">
        <div class="col-12">
            <div class="o-headline o-headline--profile">
                <span>ویرایش رمز عبور</span>
            </div>
            <div class="c-profile-stats">
                <p class="* text-danger *">{{ message }}</p>
                <div class="row ">

                    <div class="table m-5 w-75 rounded bg-light text-secondary">

                        <form action="{% url 'change_pass' %}" method="post" class="form-control">

                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                            <button type="submit" class="btn btn-primary">
                              ویرایش
                            </button>
                           {% endbuttons %}
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

​ {% endblock %}