{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="table-bordered tabel-margintop-form">
             <div class="row text-right">
                    <div class="col-9">
                        <div class="table table-marginright w-75 rounded bg-light text-secondary">
                           <img src="{{ product.image.url }}">
                            <ul class="ul-product">
                                <li class="mt-4">نام محصول‌‌ :  <b>{{ product.name }}</b></li>
                                <li class="mt-4">دسته بندی :  <b>{{ product.category }}</b></li>
                                <li class="mt-4">قیمت محصول :  <b>{{ product.price }}</b></li>
                                <li class="mt-4">توضیحات :  <b>{{ product.description }}</b></li>

                            </ul>
                        </div>
                    </div>
              </div>
        </div>
   </div>

{% endblock %}
