{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}


    <div class="row">
				<div class="col">
					<div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

                       {% for object in obj %}

                       <div class="product-item men">
							<div class="product discount product_filter">
								<div class="product_image">
									<img src="{{ MEDIA_URL }}/{{ object.image }}" alt="" name="{{ object.name }}">
								</div>
								<div class="favorite favorite_left"></div>
							<!--<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div> -->
								<div class="product_info">
									<h6 class="product_name"><a href="single.html">{{ object.name }}</a></h6>
									<div class="product_price">
                                        {% if object.discount != '0' %}
                                           {{ object.price_discount }}<span>{{ object.price }}</span>
                                        {% else %}
                                           {{ object.price }}
                                        {% endif %}
                                    </div>

								</div>
							</div>
							<div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
						</div>
                       {% endfor %}
					</div>
				</div>
			</div>

{% endblock %}
