.tabel-margintop-form{
   margin-top:50px;
}
.table-marginright{
   margin-right: 5rem!important;
}
.search{
    float: left;
    top: 31%;
    left: 28%;
}
.search-btn{
   float: left;
   width: 10%;

}
.logo{
   width: 13% !important;

}
.menu{
   width: 43% !important;
}
.li-result{

    padding: 20px;
    margin-bottom: 10px;
}
.li-result:hover{

  background-color: rgba(105,114,124,0.48);
}
.ul-result{
    width: 100%;
    background-color: #80808026;
    margin-top: 30px;
    padding-top: 4px;
    position: absolute;
    z-index: 1000;
}
.a-result{
    color:white;
}
.ul-product{
    margin-right: 27px;
    padding-bottom: 40px;
}
.th-table{
    padding: 20px !important;
}