<!-- templates/registration/password_reset_form.html -->
{% extends 'base.html' %}

{% block title %}رمز عبور خود را فراموش نموده اید؟{% endblock %}

{% block content %}
    <div class="container-fluid m-5 text-right">
            <h4 class="mt-2">آدرس ایمیل خود را برای بازیابی رمز عبور وارد نمایید.</h4>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group mt-5" >
                    <div class="row1">
                        <div class="col-4">
                        <label for="email" class="mb-3">ایمیل</label>
                        </div>
                        <div class="col-8">
                            <input type="email" class="form-control w-75" id="email" name="email" required>
                        </div>

                    </div>
                </div>
                <input type="submit" class="btn btn-success mr-3" value="ارسال">
            </form>
    </div>



{% endblock %}