<!-- templates/registration/password_reset_complete.html -->
{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
     <div class="container text-right">
        <div class="table-bordered tabel-margintop-form ">
            <div class="p-5">
                 <h3 >رمز عبور جدید تنظیم شد .</h3><br>
                 <h5>برای ورود به پنل کاربری روی لینک <a href="{% url 'create_user' %}" class="text-success font-weight-bold">ورود</a> کلیک نمایید </h5>
            </div>
        </div>
     </div>
{% endblock %}